@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"] {
    /* Convert @apply to regular CSS */
    width: 100%;
    border: 1px solid;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button {
    /* Convert @apply to regular CSS */
    background-color: #F5385D; /* Replace with your desired color */
}

button.primary {
    /* Convert @apply to regular CSS */
    background-color: #f5385d;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    color: #ffffff; /* Text color */
    border-radius: 1rem;
    margin-top: 0.5rem;
}

